@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Vollkorn+SC:wght@400;600;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #111111;
  --text-color: #ffffff;
  --error-color: #ff2525;
  --bg-error-color: rgba(255, 1, 1, 0.1);

  --fs-large: 18px;
  --fs-small: 12px;

  --primary-gradient: linear-gradient(135deg, #5937e1 0%, #7725c9 100%);

  --border-radius: 8px;
}

body {
  font-family: "Vollkorn SC", serif;
  color: var(--text-color);
}

h1 {
  font-size: var(--fs-large);
  font-weight: 400;
  color: var(--text-color);
}

button {
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  border-spacing: 0;
  color: #26589f;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.42rem;
  list-style: none outside none;
  margin: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
}
