.userCharacters {
  width: 100%;

  display: flex;
  flex-direction: column;

  gap: 32px;

  height: 100%;
}

.userCharacters__list {
  display: flex;
  flex-direction: column;
  gap: 20px;

  overflow-y: auto;

  flex: 1;
}
